<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.boris.winrun4j.eclipse.WLaunchConfigurationDelegate"
            id="org.boris.winrun4j.eclipse.launch"
            modes="run, debug"
            name="WinRun4J"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.boris.winrun4j.eclipse.launch"
            icon="icons/winrun4j.gif"
            id="org.boris.winrun4j.eclipse.launch.image">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.boris.winrun4j.eclipse.WLaunchConfigurationTabGroup"
            id="org.boris.winrun4j.eclipse.launch.tabs"
            type="org.boris.winrun4j.eclipse.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.boris.winrun4j.eclipse.WLaunchShortcut"
            icon="icons/winrun4j.gif"
            id="org.boris.winrun4j.eclipse.launch.shortcut"
            label="WinRun4J Application"
            modes="run, debug">
                 <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
                <iterate>
                 <and>
                  <adapt type="org.eclipse.jdt.core.IJavaElement">
                  	<test property="org.eclipse.jdt.core.isInJavaProject"/>
                  </adapt>
                  <test
                        property="org.eclipse.jdt.launching.hasMain">
                  </test>
                 </and>
                </iterate>
               </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.boris.winrun4j.eclipse.WClasspathContainerInitializer"
            id="org.boris.winrun4j.eclipse.WINRUN4J_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.boris.winrun4j.eclipse.WClasspathContainerPage"
            id="org.boris.winrun4j.eclipse.WINRUN4J_CONTAINER"
            name="WinRun4J">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.jdt.ui.Java"
            class="org.boris.winrun4j.eclipse.WExportWizard"
            icon="icons/winrun4j.gif"
            id="org.boris.winrun4j.eclipse.ExportWizard"
            name="WinRun4J Executable">
         <description>
            Export all resources required to run an application into a WinRun4J executable launcher on the local file system.
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.boris.winrun4j.eclipse.WPreferencePage"
            id="org.boris.winrun4j.eclipse.WPreferencePage"
            name="WinRun4J">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.boris.winrun4j.eclipse.WPreferenceInitializer">
      </initializer>
   </extension>
</plugin>
